@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  background: transparent;
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom, #111111, #302336, #5e3051, #95395e, #ca455a, #ca455a, #ca455a, #ca455a, #95395e, #5e3051, #302336, #111111);
  z-index: -1; /* Ensure it stays behind the content */
  pointer-events: none; /* Ensure it doesn't interfere with any interactions */
}
.background{
  
}