@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  background: transparent;
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to left top, #111111, #271e2b, #48273e, #6e2d46, #933643, #933643, #933643, #933643, #6e2d46, #48273e, #271e2b, #111111);
  z-index: -1; /* Ensure it stays behind the content */
  pointer-events: none; /* Ensure it doesn't interfere with any interactions */
}
.background{
  
}