@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: linear-gradient(to bottom, #111111, #302336, #5e3051, #95395e, #ca455a, #ca455a, #ca455a, #ca455a, #95395e, #5e3051, #302336, #111111);
}
.background{
  
}